// .dark {
//   $color-echo-primary-light: #3344ff; 
//   $color-echo-primary: #3344cc;
//   $color-echo-primary-dark: #2233bb;
// }


.dark {
  $primary: orangered;
}

html[data-theme="dark"] {
  --rgb-primary-accent: 0,166,155;
  --rgb-shadow: 66,66,66;
  --rgb-background: 34,34,34;
  --rgb-text-highlight: 0,166,155;
  --rgb-text-default: 238,238,238;

  --rgb-color-red-light: 237,65,51;
  --rgb-color-red: 195,45,56;
  --rgb-color-red-dark: 156,23,32;
}