/*
ECH0 Default theme=>
  Primary Accent: #00a69b
  Shadow: #eee
  Background: #fff
  Text highlight: #00a69b
  Text Default: #424242


ECH0 DARK theme=>
  Primary Accent: #00a69b
  Shadow: #424242
  Background: #222
  Text highlight: #00a69b
  Text Default: #eee

*/

html {
  --rgb-primary-accent: 0, 166, 155;
  --rgb-background: 255, 255, 255;
  --rgb-shadow: 238, 238, 238;
  --rgb-shadow-2: 46, 62, 72;
  // --rgb-shadow: 255,255,255;
  // --rgb-background: 238,238,238;
  --rgb-text-highlight: 0, 166, 155;
  --rgb-text-default: 66, 66, 66;

  --rgb-color-red-light: 237, 65, 51;
  --rgb-color-red: 195, 45, 56;
  --rgb-color-red-dark: 156, 23, 32;
}
