.ed-at-modal {
  font-size: $text-default-size;
  position: fixed;
  height: 100vh;
  width: 100vw;
  max-height: 100%;
  max-width: 100%;
  top: 0;
  left: 0;
  background: #0005;
  z-index: 120;
  animation: $transition-default-time ed-a-fade-in;
  transition: all $transition-default-time;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  overflow: scroll;

  &-close {
    line-height: 1;
    font-size: 2rem;
    font-weight: 600;
    position: absolute;
    top: 2rem;
    right: 2rem;
    background: $color-white;
    padding: 1rem;
    border-radius: 100%;
    border: none;
    z-index: 121;
  }

  &-btn {
    padding: 1rem;
    background-color: $primary;
    color: $color-white;
    width: 100%;
    text-align: center;
    display: inline-block;
    position: relative;
    overflow: hidden;
    z-index: 121;
    transition: all $transition-default-time;

    &:hover {
      background: darken($primary, 5);
      color: $color-white;
    }

    &--secondary {
      background: rgba(var(--rgb-background), 1);
      color: rgba(var(--rgb-text-default), 1);

      &:hover {
        background: $color-grey-light;
        color: rgba(var(--rgb-text-default), 1);
      }
    }
  }

  &-nav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all $transition-default-time;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.9);
    }
  }

  &-icon {
    border-radius: 5000px;
    border: 1px solid rgba(var(--rgb-text-default), 1);
    margin: 1rem;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &--body {
      font-size: 4rem;
      height: 64px;
      width: 64px;
    }
  }

  &-display {
    overflow: hidden;
    animation: $transition-default-time ed-a-scale-out backwards;

    height: 50%;
    width: 50%;
    max-width: 850px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

    background: rgba(var(--rgb-background), 1);

    border-radius: 1rem;
    box-shadow: 0 0 0.5rem 0 rgba(var(--rgb-shadow-2), 0.12),
      0 0.2rem 0.5rem 0 rgba(var(--rgb-shadow-2), 0.12);
    transition: all $transition-default-time;

    // Dynamicly added based on type. [Doesn't follow strict naming convention]
    &--inviteGuest {
      transition: all $transition-default-time;
      height: 80vh;
      width: 80vw;
      min-height: 580px;
    }
  }

  &-header {
    padding: 1rem 0.5rem;
    min-height: 5rem;
    align-self: stretch;
    min-height: 40px;
    border-bottom: 1px solid rgba(var(--rgb-text-default), 0.5);
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    .image,
    img {
      display: inline-block;
      margin-left: 0.5rem;
      margin-right: 1rem;
    }
  }

  &-body {
    margin: 0.5rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    max-height: 520px;

    & > * {
      animation: $transition-default-time ed-a-fade-in;
    }
  }

  &-invite {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 100%;

    &__body {
      display: flex;
      flex-flow: row nowrap;
      justify-content: stretch;
      align-items: flex-start;
      width: 100%;
    }

    &__header {
    }

    &__form-group {
      display: flex;
      flex-flow: nowrap;
      justify-content: flex-start;
      align-items: center;
      padding: 1rem 0.5rem;
      cursor: pointer;
      transition: all $transition-default-time;
      position: relative;

      input {
        width: 0;
        opacity: 0;
        visibility: hidden;

        &:checked + div::after {
          position: absolute;
          bottom: -20%;
          right: -20%;
          font-family: "Font Awesome 5 Pro";
          font-weight: 900;
          content: "\f058";
          color: $primary;
          animation: ed-a-fade-in 0.1s;
        }
      }

      &:hover {
        background: rgba(var(--rgb-shadow), 0.5);
        transform: translateX(0.5rem);
      }

      &--display {
        animation: ed-a-back-wave ease-in-out 0.2s;
      }
    }

    &__remove {
      position: absolute;
      right: 1rem;
      color: rgba(var(--rgb-text-default), 0.8);

      &:hover,
      &:focus {
        transform: scale(1.025);
        color: rgba(var(--rgb-color-red), 1);
      }
    }

    &__icon {
      margin: 0.5rem 1rem;
    }

    &__caption {
    }

    &__left {
      width: 100%;
      height: 100%;
      height: 440px;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
    }

    &__right {
      height: 440px;
      overflow-y: scroll;
      width: 100%;
      padding: 1.5rem;
    }

    &-search {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: stretch;
      width: 90%;
      position: relative;
      transition: all $transition-default-time;

      &__icon {
        transition: all $transition-default-time;
        font-size: 2rem;
        width: 2rem;
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
      }

      &__input {
        transition: all $transition-default-time;
        padding: 1rem;
        width: 100%;
        font-size: $text-default-size;
        border: 0 solid transparent;
        border-bottom: 2px solid transparent;
        &:focus {
          border-bottom: 2px solid $primary;
          padding-left: 3.2rem;
          outline: none;
        }
        &::placeholder {
          // font-size: $text-default-size;
          color: rgba(var(--rgb-text-default), 0.7);
        }
      }

      &__input:focus + &__icon {
        right: calc(100% - 3rem);
      }
    }

    &-list {
      box-shadow: 0 0 0.5rem 0 rgba(var(--rgb-shadow-2), 0.12),
        0 0.2rem 0.5rem 0 rgba(var(--rgb-shadow-2), 0.12);
      width: 90%;
      height: 100%;
      height: 340px;
      overflow-y: scroll;
      &__section {
        &--all {
        }
      }

      &__header {
        text-align: center;
        padding: 1rem;
        background: rgba(var(--rgb-shadow), 1);
        box-shadow: 0 3px 0.5rem rgba(var(--rgb-shadow-2), 0.2);
      }

      &__names {
        overflow: hidden;
        overflow-y: scroll;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    &-add-guest {
      padding-top: 1rem;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      width: 90%;
    }
  }

  &__add-new {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    padding: 0.5rem;

    position: relative;

    input {
      font-size: $text-default-size;
      border: 0;
      border-bottom: 2px solid rgba(var(--rgb-text-default), 1);
      box-shadow: 0 0 0 transparent;
      border-radius: 0;
      transition: all $transition-default-time;
      padding-bottom: 0;
      padding-left: 3.2rem;

      &::placeholder {
        color: rgba(var(--rgb-text-default), 0.7);
      }

      &:focus {
        padding: 0.5rem;
        outline: none;
        border-bottom: 2px solid rgb(40, 80, 150);
      }
    }

    input:focus + button {
      right: 1rem;
    }
  }

  &__add-btn {
    transition: all $transition-default-time;
    position: absolute;
    right: calc(100% - 3rem);
    top: 50%;
    transform: translateY(-50%);

    color: rgb(40, 80, 150);
    background: none;
    border: 0;
    font-size: 2rem;
  }

  &-landing {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;

    &--expand {
      transition: all $transition-default-time;
      width: 100% !important;
    }

    &--hide {
      transition: all $transition-default-time;
      opacity: 0;
      visibility: hidden;
    }

    &__left {
      transition: all $transition-default-time;
      position: absolute;
      height: 100%;
      width: 50%;
      top: 0;
      left: 0;

      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    }

    &__right {
      transition: all $transition-default-time;
      position: absolute;
      height: 100%;
      width: 50%;
      top: 0;
      right: 0;

      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    }
  }

  &-footer {
    min-height: 5rem;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    border-top: 1px solid rgba(var(--rgb-text-default), 0.5);
  }
}

@include ed-respond(mobile) {
  .ed-at-modal {
    &-close {
      top: 0;
      right: 0;
    }

    &-btn {
      &:hover {
      }

      &--grey {
      }
    }

    &-icon {
      &--body {
        font-size: 6rem;
        height: 96px;
        width: 96px;
      }
    }

    &-display {
      height: 100vh;
      width: 100vw;
      max-height: 100%;
      max-width: 100%;

      border-radius: 0rem;
    }

    &-header {
    }

    &-body {
      max-height: unset;
    }

    &-invite {
      width: 100%;
      overflow: scroll;
      background: rgba(var(--rgb-background), 1);
      &__body {
      }

      &__left {
        background: rgba(var(--rgb-background), 1);
        height: inherit;
        width: 100%;
        position: absolute;
        top: 16rem;

        display: flex;
        flex-flow: column-reverse nowrap;
        justify-content: flex-end;
        margin-bottom: 5rem;
      }

      &__right {
        position: absolute;
        top: 40px;
        left: 0;
        height: fit-content;
        display: flex;
        flex-flow: row nowrap;
        overflow: scroll;
        background: rgba(var(--rgb-shadow), 1);
        box-shadow: 0 3px 0.5rem rgba(var(--rgb-shadow-2), 0.2);
      }

      &__header {
        height: 0;
      }

      &__form-group {
        input {
          &:checked + div::after {
          }
        }

        &:hover {
        }

        &--display {
        }
      }

      &__remove {
        &:hover,
        &:focus {
        }
      }

      &__icon {
      }

      &__caption {
      }

      &-search {
        position: fixed;
        top: 0;
        height: 40px;
        width: 100%;
        border-bottom: 0;
        z-index: 120;
        background: rgba(var(--rgb-background), 1);
        box-shadow: 0 0.5rem 0.5rem rgba(var(--rgb-shadow-2), 0.12),
          0 0.2rem 0.5rem rgba(var(--rgb-shadow-2), 0.12);

        &:focus {
          border-bottom: 0;
        }
        &__icon {
          &--back {
            font-size: 1.6rem;
            margin: auto 0.5rem;
            padding: auto 1rem;
            cursor: pointer;

            &:hover {
              color: rgb(40, 80, 150);
            }
          }
        }

        &__input {
          &:focus {
          }
          &::placeholder {
            color: rgba(var(--rgb-text-default), 0.8);
          }
        }

        &__input:focus + &__icon {
          right: calc(100% - 9rem);
        }
      }

      &-list {
        height: inherit;
        width: 100%;
        box-shadow: none;
        // flex-grow: 1;
        &__section {
          &--all {
          }
        }

        &__header {
        }

        &__names {
        }
      }

      &-add-guest {
        width: 100%;
      }
    }

    &__add-new {
      width: 100%;
      input {
        &::placeholder {
        }

        &:focus {
        }
      }

      input:focus + button {
      }
    }

    &__add-btn {
    }

    &-landing {
      &--expand {
      }

      &--hide {
      }

      &__left {
      }

      &__right {
      }
    }

    &-footer {
      position: fixed;
      bottom: 0;
      left: 0;
    }
  }
}
