*,
*::after,
*::before {
  margin: 0px;
  padding: 0;
  box-sizing: inherit;
}


body,html {
  // min-width: 100vw !important ;
  // min-height: 100vh !important ;
  overflow: hidden !important;
}

html {

  font-size: 100%; 

  @include ed-respond(tablet) {
    font-size: 95%; 
  }

  @include ed-respond(mobile) {
    font-size: 90%; 
  }
}

body {
  box-sizing: border-box;
}

i {
  margin-left: 3px;
  margin-right: 3px;
}

a {
  color: inherit;
  &:hover {
    color: inherit;
  }
}

#zmmtg-root {
  height: 0% !important;
  width: 0% !important;
}

.image {
  z-index: unset;
}
