.ed-u-disabled {
  display: none !important;
  pointer-events: none !important;
  position: relative;

  &::after {
    content: "DISABLED";
    background: rgba($color-black, 0.9);
    color: $color-red;
    font-size: 1.25rem;
    font-weight: 600;

    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
    border-radius: 3px;

    transform: translate(-50%, -50%);
  }
}

.ed-u-enabled {
  display: block !important;
}

.ed-u-highlight {
  color: rgba(var(--rgb-text-highlight), 1) !important;
}

.ed-u-flex-centered-col {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.ed-u-overflow-visible {
  overflow: visible !important;
}

.ed-u-align {
  &--right {
    text-align: right !important;
  }
}

.ed-u-no-scroll {
  position: fixed;
  width: 100vw;
  overflow: auto;
}

.ed-u-inline {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.ed-u-show-grid {
  display: grid !important;
}

.ed-u-smooth-transition {
  transition: all 4s;
}

.ed-u-margin {
  &-sm {
    margin: 0.5rem !important;
  }

  &-md {
    margin: 1rem !important;
  }

  &-lg {
    margin: 1.5rem !important;
  }

  &-bottom {
    &-sm {
      margin-bottom: 0.5rem !important;
    }

    &-md {
      margin-bottom: 1rem !important;
    }

    &-lg {
      margin-bottom: 1.5rem !important;
    }
  }

  &-top {
    &-sm {
      margin-top: 0.5rem !important;
    }

    &-md {
      margin-top: 1rem !important;
    }

    &-lg {
      margin-top: 1.5rem !important;
    }
  }

  &-left {
    &-sm {
      margin-left: 0.5rem !important;
    }

    &-md {
      margin-left: 1rem !important;
    }

    &-lg {
      margin-left: 1.5rem !important;
    }
  }

  &-right {
    &-sm {
      margin-right: 0.5rem !important;
    }

    &-md {
      margin-right: 1rem !important;
    }

    &-lg {
      margin-right: 1.5rem !important;
    }
  }
}
