.ed-u-disabled {
  display: none !important;
  pointer-events: none !important;
  position: relative;

  &::after {
    content: "DISABLED";
    background: rgba($color-black, 0.9);
    color: $color-red;
    font-size: 1.25rem;
    font-weight: 600;

    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
    border-radius: 3px;

    transform: translate(-50%, -50%);
  }
}

.ed-u-enabled {
  display: block !important;
}

.ed-u-highlight {
  color: rgba(var(--rgb-text-highlight), 1) !important;
}

.ed-u-flex-centered {
  justify-content: center;
  align-items: center;
}

.ed-u-overflow-visible {
  overflow: visible !important;
}

.ed-u-align {
  &--right {
    text-align: right !important;
  }
}

.ed-u-no-scroll {
  position: fixed;
  width: 100%;
  overflow: hidden;
}

.ed-u-inline {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.ed-u-show-grid {
  display: grid !important;
}

.ed-u-smooth-transition {
  transition: all 4s;
}
