
// CUSTOM VARIABLES
// General Colors
$color-black: #000;
$color-white: #fff;
$color-gray-light: #ececec;
$color-white-antique: #faebd5;
$color-green: #51b583;


// Business colors
$color-echo-primary-light: #ed4133;
$color-echo-primary: #c32d38;
$color-echo-primary-dark: #9c1720;

$color-echo-blue: #3344bb;

// $color-background: #f7f9fc;
$color-primary: $color-black;

// BULMA VARIABLES
$primary: $color-green;
$title-color: $color-white;
$subtitle-color: $color-gray-light;

/* BULMA SASS MAP
 https://bulma.io/documentation/customize/variables/ */

// $color-echo-green:

// GLOBAL VARIABLES

//COMPONENT VARIABLES
