/*
ECH0 Default theme=>
  Primary Accent: #00a69b
  Shadow: #eee
  Background: #fff
  Text highlight: #00a69b
  Text Default: #424242


ECH0 DARK theme=>
  Primary Accent: #00a69b
  Shadow: #424242
  Background: #222
  Text highlight: #00a69b
  Text Default: #eee

*/

// CUSTOM VARIABLES
// General Colors
$color-black: #000;
$color-black-2: #202225;

$color-white: #fff;

$color-grey-light-1: #ececec;
$color-grey-light: #eee;
$color-grey: #d3d3d3;
$color-grey-dark: #424242;

$color-turquiose: #00a69b;
$color-amber: #ffbf00;
$color-blue-light-2: #E5F0FD;  
$color-blue-light-1: rgb(76, 94, 231);   
$color-green: #57b846;

$color-red-light-1: #ce4762;
$color-red-light: #ed4133;
$color-red: #c32d38;
$color-red-dark: #9c1720;

//Default theme
$color-primary-accent: $color-turquiose;
$color-shadow: $color-grey-light;
$color-background: $color-white;
$color-text-highlight: $color-turquiose;
$color-text-default: $color-grey-dark;

// Dark Theme
// $color-primary-accent: $color-turquiose;
// // $color-primary-accent: #63f;  //demo purposes delete later
// $color-shadow: $color-grey-dark;
// $color-background: #222;
// $color-text-highlight: $color-turquiose;
// $color-text-default: $color-grey-light;

// BULMA VARIABLES
$primary: $color-green;
$warning: $color-amber;
$title-color: $color-text-highlight;
// $subtitle-color: $color-grey-light;

/* BULMA SASS MAP
 https://bulma.io/documentation/customize/variables/ */

// $color-echo-green:

// GLOBAL VARIABLES

$text-default-size: 1rem;
$transition-default-time: 0.2s;

//COMPONENT VARIABLES
