/*
ECH0 Default theme=>
  Primary Accent: #00a69b
  Shadow: #eee
  Background: #fff
  Text highlight: #00a69b
  Text Default: #424242


ECH0 DARK theme=>
  Primary Accent: #00a69b
  Shadow: #424242
  Background: #222
  Text highlight: #00a69b
  Text Default: #eee

*/


// CUSTOM VARIABLES


// General Colors
$color-black: #000;

$color-white: #fff;

$color-grey-light: #eee;
$color-grey-dark: #424242;

$color-turquiose: #00a69b;


// Business colors
$color-echo-primary-light: #ed4133;
$color-echo-primary: #c32d38;
$color-echo-primary-dark: #9c1720;

//Default theme
$color-primary-accent: $color-turquiose;
$color-shadow: $color-grey-light;
$color-background: $color-white;
$color-text-highlight: $color-turquiose;
$color-text-default: $color-grey-dark;


// BULMA VARIABLES
$primary: #57b846;
$title-color: $color-white;
$subtitle-color: $color-grey-light;

/* BULMA SASS MAP
 https://bulma.io/documentation/customize/variables/ */

// $color-echo-green:

// GLOBAL VARIABLES

//COMPONENT VARIABLES
