.ed-reset-app {
  border-top: 3px solid rgba(var(--rgb-primary-accent), 1);
  
  min-height: 90vh;
  min-width: 100vw;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.ed-re-heading {
  margin: 1rem 0 ;
  max-width: 95vw;
  padding: .5rem;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.ed-re-title {
  padding: .5rem 0;
}

.ed-re-subtitle {
  text-align: center;
}

.ed-re-form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  // padding: 2rem;

  input {
    width: 22rem;
    font-size: 1.2rem;
  }

  &--otp {
    input {
      width: 11rem;
      letter-spacing: .75rem;
      text-align: center;
      font-size: 2rem;
    }
  }

  &-group {
    margin-bottom: 1rem;
    label {
      display: block;
    }
  }
}

.ed-re-options {

  &__box {
    display: grid;
    grid-template-columns: 4rem 1fr 2rem;
    grid-gap: 1rem;
    justify-items: center;
    align-items: center;
    
    font-size: 1.2rem;
    padding: 2rem;
    margin: 1rem;
    min-height: 13rem;
    border-radius: $default-border-radius;
     transition: $transition-default-time;
   
    form {
      grid-column: 1/4;
      // grid-row: 2/3;
    }
  }

  &__icon {
    font-size: 3.5rem;
    // align-self: stretch;
  }

  &__message {
    opacity: .8;
  }

  &__description {
    justify-self: start;
  }

}