.text-muted {
    color: rgba(0, 0, 0, 0.6);
}

.text-center {
    text-align: center;
}

.hide {
    display: none !important;
}

.nav {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 100%;
}

.nav li {
    margin: 0 0.7em;
}

/* Bulma Extensions */

@-webkit-keyattendancePanels spinAround {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyattendancePanels spinAround {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
.is-divider,
.is-divider-vertical {
    display: block;
    position: relative;
    border-top: 0.1rem solid #dbdbdb;
    height: 0.1rem;
    margin: 2rem 0;
    text-align: center;
}
.is-divider-vertical[data-content]::after,
.is-divider[data-content]::after {
    background: #fff;
    color: #b5b5b5;
    content: attr(data-content);
    display: inline-block;
    font-size: 0.75rem;
    padding: 0.4rem 0.8rem;
    -webkit-transform: translateY(-1.1rem);
    transform: translateY(-1.1rem);
    text-align: center;
}
@media screen and (min-width: 769px), print {
    .is-divider-vertical {
        display: block;
        flex: none;
        width: auto;
        height: auto;
        padding: 2rem;
        margin: 0;
        position: relative;
        border-top: none;
        min-height: 2rem;
    }
    .is-divider-vertical::before {
        border-left: 0.1rem solid #dbdbdb;
        bottom: 1rem;
        content: "";
        display: block;
        left: 50%;
        position: absolute;
        top: 1rem;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .is-divider-vertical[data-content]::after {
        position: absolute;
        left: 50%;
        top: 50%;
        padding: 0.1rem;
        -webkit-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
    }
}
.is-divider-vertical.is-white,
.is-divider.is-white {
    border-top-color: #fff;
}
.is-divider-vertical.is-white[data-content]::after,
.is-divider.is-white[data-content]::after {
    background: #0a0a0a;
    color: #fff;
}
.is-divider-vertical.is-white::before,
.is-divider.is-white::before {
    border-left-color: #fff;
}
.is-divider-vertical.is-black,
.is-divider.is-black {
    border-top-color: #0a0a0a;
}
.is-divider-vertical.is-black[data-content]::after,
.is-divider.is-black[data-content]::after {
    background: #fff;
    color: #0a0a0a;
}
.is-divider-vertical.is-black::before,
.is-divider.is-black::before {
    border-left-color: #0a0a0a;
}
.is-divider-vertical.is-light,
.is-divider.is-light {
    border-top-color: #f5f5f5;
}
.is-divider-vertical.is-light[data-content]::after,
.is-divider.is-light[data-content]::after {
    background: #363636;
    color: #f5f5f5;
}
.is-divider-vertical.is-light::before,
.is-divider.is-light::before {
    border-left-color: #f5f5f5;
}
.is-divider-vertical.is-dark,
.is-divider.is-dark {
    border-top-color: #363636;
}
.is-divider-vertical.is-dark[data-content]::after,
.is-divider.is-dark[data-content]::after {
    background: #f5f5f5;
    color: #363636;
}
.is-divider-vertical.is-dark::before,
.is-divider.is-dark::before {
    border-left-color: #363636;
}
.is-divider-vertical.is-primary,
.is-divider.is-primary {
    border-top-color: #00d1b2;
}
.is-divider-vertical.is-primary[data-content]::after,
.is-divider.is-primary[data-content]::after {
    background: #fff;
    color: #00d1b2;
}
.is-divider-vertical.is-primary::before,
.is-divider.is-primary::before {
    border-left-color: #00d1b2;
}
.is-divider-vertical.is-link,
.is-divider.is-link {
    border-top-color: #3273dc;
}
.is-divider-vertical.is-link[data-content]::after,
.is-divider.is-link[data-content]::after {
    background: #fff;
    color: #3273dc;
}
.is-divider-vertical.is-link::before,
.is-divider.is-link::before {
    border-left-color: #3273dc;
}
.is-divider-vertical.is-info,
.is-divider.is-info {
    border-top-color: #209cee;
}
.is-divider-vertical.is-info[data-content]::after,
.is-divider.is-info[data-content]::after {
    background: #fff;
    color: #209cee;
}
.is-divider-vertical.is-info::before,
.is-divider.is-info::before {
    border-left-color: #209cee;
}
.is-divider-vertical.is-success,
.is-divider.is-success {
    border-top-color: #23d160;
}
.is-divider-vertical.is-success[data-content]::after,
.is-divider.is-success[data-content]::after {
    background: #fff;
    color: #23d160;
}
.is-divider-vertical.is-success::before,
.is-divider.is-success::before {
    border-left-color: #23d160;
}
.is-divider-vertical.is-warning,
.is-divider.is-warning {
    border-top-color: #ffdd57;
}
.is-divider-vertical.is-warning[data-content]::after,
.is-divider.is-warning[data-content]::after {
    background: rgba(0, 0, 0, 0.7);
    color: #ffdd57;
}
.is-divider-vertical.is-warning::before,
.is-divider.is-warning::before {
    border-left-color: #ffdd57;
}
.is-divider-vertical.is-danger,
.is-divider.is-danger {
    border-top-color: #ff3860;
}
.is-divider-vertical.is-danger[data-content]::after,
.is-divider.is-danger[data-content]::after {
    background: #fff;
    color: #ff3860;
}
.is-divider-vertical.is-danger::before,
.is-divider.is-danger::before {
    border-left-color: #ff3860;
}
.is-divider-vertical.is-black-bis,
.is-divider.is-black-bis {
    border-top-color: #121212;
}
.is-divider-vertical.is-black-bis[data-content]::after,
.is-divider.is-black-bis[data-content]::after {
    background: #fff;
    color: #121212;
}
.is-divider-vertical.is-black-bis::before,
.is-divider.is-black-bis::before {
    border-left-color: #121212;
}
.is-divider-vertical.is-black-ter,
.is-divider.is-black-ter {
    border-top-color: #242424;
}
.is-divider-vertical.is-black-ter[data-content]::after,
.is-divider.is-black-ter[data-content]::after {
    background: #fff;
    color: #242424;
}
.is-divider-vertical.is-black-ter::before,
.is-divider.is-black-ter::before {
    border-left-color: #242424;
}
.is-divider-vertical.is-grey-darker,
.is-divider.is-grey-darker {
    border-top-color: #363636;
}
.is-divider-vertical.is-grey-darker[data-content]::after,
.is-divider.is-grey-darker[data-content]::after {
    background: #fff;
    color: #363636;
}
.is-divider-vertical.is-grey-darker::before,
.is-divider.is-grey-darker::before {
    border-left-color: #363636;
}
.is-divider-vertical.is-grey-dark,
.is-divider.is-grey-dark {
    border-top-color: #4a4a4a;
}
.is-divider-vertical.is-grey-dark[data-content]::after,
.is-divider.is-grey-dark[data-content]::after {
    background: #fff;
    color: #4a4a4a;
}
.is-divider-vertical.is-grey-dark::before,
.is-divider.is-grey-dark::before {
    border-left-color: #4a4a4a;
}
.is-divider-vertical.is-grey,
.is-divider.is-grey {
    border-top-color: #7a7a7a;
}
.is-divider-vertical.is-grey[data-content]::after,
.is-divider.is-grey[data-content]::after {
    background: #fff;
    color: #7a7a7a;
}
.is-divider-vertical.is-grey::before,
.is-divider.is-grey::before {
    border-left-color: #7a7a7a;
}
.is-divider-vertical.is-grey-light,
.is-divider.is-grey-light {
    border-top-color: #b5b5b5;
}
.is-divider-vertical.is-grey-light[data-content]::after,
.is-divider.is-grey-light[data-content]::after {
    background: #fff;
    color: #b5b5b5;
}
.is-divider-vertical.is-grey-light::before,
.is-divider.is-grey-light::before {
    border-left-color: #b5b5b5;
}
.is-divider-vertical.is-grey-lighter,
.is-divider.is-grey-lighter {
    border-top-color: #dbdbdb;
}
.is-divider-vertical.is-grey-lighter[data-content]::after,
.is-divider.is-grey-lighter[data-content]::after {
    background: rgba(0, 0, 0, 0.7);
    color: #dbdbdb;
}
.is-divider-vertical.is-grey-lighter::before,
.is-divider.is-grey-lighter::before {
    border-left-color: #dbdbdb;
}
.is-divider-vertical.is-white-ter,
.is-divider.is-white-ter {
    border-top-color: #f5f5f5;
}
.is-divider-vertical.is-white-ter[data-content]::after,
.is-divider.is-white-ter[data-content]::after {
    background: rgba(0, 0, 0, 0.7);
    color: #f5f5f5;
}
.is-divider-vertical.is-white-ter::before,
.is-divider.is-white-ter::before {
    border-left-color: #f5f5f5;
}
.is-divider-vertical.is-white-bis,
.is-divider.is-white-bis {
    border-top-color: #fafafa;
}
.is-divider-vertical.is-white-bis[data-content]::after,
.is-divider.is-white-bis[data-content]::after {
    background: rgba(0, 0, 0, 0.7);
    color: #fafafa;
}
.is-divider-vertical.is-white-bis::before,
.is-divider.is-white-bis::before {
    border-left-color: #fafafa;
}

@-webkit-keyattendancePanels spinAround{from{-webkit-transform:rotate(0);transform:rotate(0)}to{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@keyattendancePanels spinAround{from{-webkit-transform:rotate(0);transform:rotate(0)}to{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}[data-badge]{position:relative}[data-badge]::after{display:inline-block;position:absolute;margin:0;padding:.1rem .25rem;text-align:center;white-space:nowrap;line-height:1;background:#00d1b2;background-clip:padding-box;border-radius:0;box-shadow:0 0 0 1px #fff;color:#fff;content:attr(data-badge);z-index:99}[data-badge][data-badge=""]::after{vertical-align:inherit}[data-badge].has-badge-white::after{background:#fff;color:#0a0a0a}[data-badge].has-badge-black::after{background:#0a0a0a;color:#fff}[data-badge].has-badge-light::after{background:#f5f5f5;color:#363636}[data-badge].has-badge-dark::after{background:#363636;color:#f5f5f5}[data-badge].has-badge-primary::after{background:#00d1b2;color:#fff}[data-badge].has-badge-link::after{background:#3273dc;color:#fff}[data-badge].has-badge-info::after{background:#209cee;color:#fff}[data-badge].has-badge-success::after{background:#23d160;color:#fff}[data-badge].has-badge-warning::after{background:#ffdd57;color:rgba(0,0,0,.7)}[data-badge].has-badge-danger::after{background:#ff3860;color:#fff}[data-badge].has-badge-outlined::after{background-color:#fff;box-shadow:none;border:1px solid #00d1b2;color:#00d1b2}[data-badge].has-badge-outlined.has-badge-white::after{background:#fff;box-shadow:none;border:1px solid #fff;color:#fff}[data-badge].has-badge-outlined.has-badge-black::after{background:#fff;box-shadow:none;border:1px solid #0a0a0a;color:#0a0a0a}[data-badge].has-badge-outlined.has-badge-light::after{background:#fff;box-shadow:none;border:1px solid #f5f5f5;color:#f5f5f5}[data-badge].has-badge-outlined.has-badge-dark::after{background:#fff;box-shadow:none;border:1px solid #363636;color:#363636}[data-badge].has-badge-outlined.has-badge-primary::after{background:#fff;box-shadow:none;border:1px solid #00d1b2;color:#00d1b2}[data-badge].has-badge-outlined.has-badge-link::after{background:#fff;box-shadow:none;border:1px solid #3273dc;color:#3273dc}[data-badge].has-badge-outlined.has-badge-info::after{background:#fff;box-shadow:none;border:1px solid #209cee;color:#209cee}[data-badge].has-badge-outlined.has-badge-success::after{background:#fff;box-shadow:none;border:1px solid #23d160;color:#23d160}[data-badge].has-badge-outlined.has-badge-warning::after{background:#fff;box-shadow:none;border:1px solid #ffdd57;color:#ffdd57}[data-badge].has-badge-outlined.has-badge-danger::after{background:#fff;box-shadow:none;border:1px solid #ff3860;color:#ff3860}[data-badge].has-badge-rounded::after{border-radius:290486px}[data-badge]::after{min-width:1rem;min-height:1rem;font-size:.75rem;top:0;right:0;bottom:auto;left:auto;-webkit-transform:translate(50%,-50%);transform:translate(50%,-50%)}[data-badge].has-badge-left::after{top:0;right:auto;bottom:auto;left:0;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}[data-badge].has-badge-bottom::after{top:auto;right:0;bottom:0;left:auto;-webkit-transform:translate(50%,50%);transform:translate(50%,50%)}[data-badge].has-badge-bottom-left::after{top:auto;right:auto;bottom:0;left:0;-webkit-transform:translate(-50%,50%);transform:translate(-50%,50%)}[data-badge].has-badge-inline{margin-right:1.5rem}[data-badge].has-badge-inline::after{top:50%;right:-20%}[data-badge].has-badge-inline.has-badge-left{margin-right:inherit;margin-left:1.5rem;top:50%;left:20%}[data-badge].has-badge-inline.has-badge-bottom{margin-right:1.5rem;top:50%;right:-20%}[data-badge].has-badge-inline.has-badge-bottom-left{margin-right:inherit;margin-left:1.5rem;top:50%;left:20%}[data-badge].has-badge-small::after{min-width:.75rem;min-height:.75rem;font-size:.5625rem;top:0;right:0;bottom:auto;left:auto;-webkit-transform:translate(50%,-50%);transform:translate(50%,-50%)}[data-badge].has-badge-small.has-badge-left::after{top:0;right:auto;bottom:auto;left:0;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}[data-badge].has-badge-small.has-badge-bottom::after{top:auto;right:0;bottom:0;left:auto;-webkit-transform:translate(50%,50%);transform:translate(50%,50%)}[data-badge].has-badge-small.has-badge-bottom-left::after{top:auto;right:auto;bottom:0;left:0;-webkit-transform:translate(-50%,50%);transform:translate(-50%,50%)}[data-badge].has-badge-small.has-badge-inline{margin-right:1.125rem}[data-badge].has-badge-small.has-badge-inline::after{top:50%;right:-20%}[data-badge].has-badge-small.has-badge-inline.has-badge-left{margin-right:inherit;margin-left:1.125rem;top:50%;left:20%}[data-badge].has-badge-small.has-badge-inline.has-badge-bottom{margin-right:1.125rem;top:50%;right:-20%}[data-badge].has-badge-small.has-badge-inline.has-badge-bottom-left{margin-right:inherit;margin-left:1.125rem;top:50%;left:20%}[data-badge].has-badge-medium::after{min-width:1.2rem;min-height:1.2rem;font-size:.9rem;top:0;right:0;bottom:auto;left:auto;-webkit-transform:translate(50%,-50%);transform:translate(50%,-50%)}[data-badge].has-badge-medium.has-badge-left::after{top:0;right:auto;bottom:auto;left:0;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}[data-badge].has-badge-medium.has-badge-bottom::after{top:auto;right:0;bottom:0;left:auto;-webkit-transform:translate(50%,50%);transform:translate(50%,50%)}[data-badge].has-badge-medium.has-badge-bottom-left::after{top:auto;right:auto;bottom:0;left:0;-webkit-transform:translate(-50%,50%);transform:translate(-50%,50%)}[data-badge].has-badge-medium.has-badge-inline{margin-right:1.8rem}[data-badge].has-badge-medium.has-badge-inline::after{top:50%;right:-20%}[data-badge].has-badge-medium.has-badge-inline.has-badge-left{margin-right:inherit;margin-left:1.8rem;top:50%;left:20%}[data-badge].has-badge-medium.has-badge-inline.has-badge-bottom{margin-right:1.8rem;top:50%;right:-20%}[data-badge].has-badge-medium.has-badge-inline.has-badge-bottom-left{margin-right:inherit;margin-left:1.8rem;top:50%;left:20%}[data-badge].has-badge-large::after{min-width:1.4rem;min-height:1.4rem;font-size:1.05rem;top:0;right:0;bottom:auto;left:auto;-webkit-transform:translate(50%,-50%);transform:translate(50%,-50%)}[data-badge].has-badge-large.has-badge-left::after{top:0;right:auto;bottom:auto;left:0;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}[data-badge].has-badge-large.has-badge-bottom::after{top:auto;right:0;bottom:0;left:auto;-webkit-transform:translate(50%,50%);transform:translate(50%,50%)}[data-badge].has-badge-large.has-badge-bottom-left::after{top:auto;right:auto;bottom:0;left:0;-webkit-transform:translate(-50%,50%);transform:translate(-50%,50%)}[data-badge].has-badge-large.has-badge-inline{margin-right:2.1rem}[data-badge].has-badge-large.has-badge-inline::after{top:50%;right:-20%}[data-badge].has-badge-large.has-badge-inline.has-badge-left{margin-right:inherit;margin-left:2.1rem;top:50%;left:20%}[data-badge].has-badge-large.has-badge-inline.has-badge-bottom{margin-right:2.1rem;top:50%;right:-20%}[data-badge].has-badge-large.has-badge-inline.has-badge-bottom-left{margin-right:inherit;margin-left:2.1rem;top:50%;left:20%}[data-badge].button:not(.is-clipped)::after{overflow:visible}

/* ECHO modifications */

#loginDivider .is-divider-vertical[data-content]::after,
.is-divider[data-content]::after {
    background: #f5f5f5;
    color: #666;
}

:root {
    --fa-primary-color: hsl(204, 86%, 53%);
    --fa-secondary-color: #666;
}
#loginIcon {
    margin-top: 0.2em;
}
#logoText {
    letter-spacing: 0.2em;
}

#userDropdown {
    width: 12rem;
}

#userDropdown .icon {
    left: 1rem;
    position: absolute;
    text-align: center;
    top: 0.375rem;
    width: 1em;
}

#notifDropdown {
    /*max-width: 24rem;*/
}

#notifDropdown .icon-pic {
    left: 1rem;
    position: absolute;
    text-align: center;
    top: 0.375rem;
    width: 1em;
}

#i18n .modal-content{
    overflow: visible;
}

@media screen and (min-width: 1024px) {
    #userDropdown .navbar-item {
        padding-right: 1rem;
        white-space: normal;
    }
}

#userDropdown .navbar-item {
    padding-left: 3em;
    position: relative;
}

@media screen and (max-width: 768px) {
    .navbar-menu {
        padding: 0;
        display: block;
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, 0.1);
    }

    .navbar-menu .navbar-end {
        display: none;
    }

    .navbar-start .navbar-item {
        display: inline-block;
        text-align: center;
        font-weight: 300;
        font-size: 0.8em;
        padding: 0.8em;
    }

    .navbar-start .navbar-item .icon {
        display: block;
        margin: 0 auto;
        font-weight: 400;
        font-size: 1.4em;
    }
}

    #userDropdown .navbar-item {
        padding-left: 3em;
        position: relative;
    }

    [data-badge].has-badge-rounded::after {
    font-family: sans-serif !important;
    }

html, body {
    background: #f7f9fc !important;
}

.box {
box-shadow: 0 4px 7px 0 rgba(0,0,0,.1)!important
}

.homeBox {
box-shadow: 0 10px 28px rgba(10,10,10,.07);
border-radius:20px;
}

.panelHeader {
    padding: 0.6em;
    font-size: 0.7em;
    margin-bottom:0 !important;
    border-radius:0 !important;
}

.attendancePanel::-webkit-scrollbar {
    -webkit-appearance: none;
}

.attendancePanel::-webkit-scrollbar:vertical {
    width: 11px;
}

.attendancePanel::-webkit-scrollbar:horizontal {
    height: 11px;
}

.attendancePanel::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.gradientback{

    position:absolute;
    bottom:0px;
    left:0px;
    pointer-events:none;
    width:100%;
    height:40px;
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 30%,rgba(255,255,255,1) 70%); /* W3C */

}

.attendancePanelContainer{
    box-shadow: 0 2px 13px rgba(10,10,10,.15);
    border:1px solid #ddd;
    border-radius:12px;
    position:relative;
    margin-bottom:1em;
    overflow:hidden;
}

.attendancePanelContainer .panel-block, .attendancePanelContainer .panel-heading {
    border-left:none;
}

.attendeeSearch {
    font-size: 0.85em;
    border: none;
    box-shadow: none;
    background:none;
}

.modal-content > .card {
    border-radius:12px;
}
.card-footer-item-right {
    border-radius:0px 0px 12px 0px;
}

