.is-active {
  .fa-caret-square-right {
    transition: all 0.2s;
    transform: rotateZ(90deg);
  }
}
#wc-footer {
  transition: all 0.2s;
  height: 60px;
  padding: 5px;

  &:before {
    border-top: 2px $primary;
  }

  &-left {
    & ~ div {
      height: 1px;
    }
  }
}

#dialog-join {
  width: 100% !important;
}
.meeting-client-inner {
  top: unset !important;
  bottom: 0 !important;
}

.meeting-app,
.meeting-client,
.meeting-client-inner
{
  position: fixed !important;
  top: 10vh !important;
  height: 90vh !important;
  width: 80vw !important;
  left: 0 !important;
}

#wc-container-left {
  // height: 90vh !important;
  // width: 80vw !important;

}



.main-layout {
  height: auto !important;
  width: 80vw !important;
}

#sc-active-speaker-video,
#sv-active-main,
#sv-active-video,
.active-main {
  height: auto !important;
  width: 100% !important;
}

#wc-container-right {
  position: fixed !important;
  right: 80vw !important;
  top: 0 !important;
  height: 90vh !important;
}

.ed-zoom {
  &-controls {
    padding: .6rem;
    margin-left: auto;

    display: flex;
    flex-flow: end;
    justify-content: flex-end;
    align-items: center;
  }

  &-btn {
    z-index: 102;
    text-align: center;
    font-size: 1rem;
    width: 11.25rem;
    padding: 0.3rem .75rem;
    margin: .9rem .6rem;
    background: transparent;
    color: $color-white;
    border: 1px solid $color-white;
    border-radius: 500px;
    cursor: pointer;
    transition: all $transition-default-time;

    i {
      width: 1.125rem;
      margin: auto 0.3rem;
    }

    &:hover {
      opacity: 0.8;
    }

    &:active {
      transform: translateY(5%);
    }

    &--red {
      color: $color-red-light;
      border-color: $color-red-light;
    }
  }

  &-logo {
    height: 100%;

    img {
      height: 100%;
      width: auto;
    }
  }

  &-program {
    &-info {
      display: flex;
      margin: auto .6rem;
    }

    &-name {
      margin: auto .6rem;
      font-size: 1.125rem;
    }
  }

  &-nav {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    background: $color-black-2;
    color: $color-white;
    font-size: 1rem;

    &-main {
      position: absolute;
      top: 0;
      left: 0;

      height: 10vh;
      width: 100%;
      z-index: 102;

      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
    }

    &-secondary {
      z-index: 102;
      position: absolute;
      top: 10vh;
      right: 0;

      height: calc(100% - 10vh);
      width: 20vw;

      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    }
  }

  &-pop {
    &-info {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      display: center;

      position: absolute;
      bottom: 0;
      left: 0;
      height: 90%;
      width: 80%;
    }

    &-options {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-btn {
      cursor: pointer;
      font-size: 1rem;
      padding: .6rem .75rem;
      margin: .6rem;
      border-radius: 0.3rem;
      transition: all 0.2s;
      width: 6.25rem;
      flex-basis: 11.25rem;
      background-color: $primary;

      &--red {
        background-color: $color-red-light;
      }
    }
  }
}


.ed-present {
  &-footer {
    position: fixed !important;
    width: 80vw !important;
    left: 0 !important;
    bottom: 0 !important;
  }

  &-video {
    position: fixed !important;
    top: 10vh !important;
    width: 20vw !important;
    height: 22.5vh !important;
  }

  &-case {
    position: fixed ;
    top: 15vh;
    left: 25vw;
    height: 60vh;
    width: 50vw;

    &__slide {
      width: 50vw;
      height: 70vh;
    }


    img {
      width: 100%;
      height: auto;
    }
  }
}